@config "../../tailwind.config.js";
/* @config "../../tailwind-xmas.config.js"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 214, 219, 220;
        --background-end-rgb: 255, 255, 255;
        --color-base-primary-1: #ffff00;
        --color-base-primary-2: #444444;
        --color-base-primary-3: #e3e3e3;
        --color-base-black: #000000;
        --color-base-white: #ffffff;
        --color-base-brand-grey-neutral: #999999;
        --color-base-brand-grey-1: #595959;
        --color-base-brand-grey-2: #e3e3e3;
        --color-base-brand-grey-3: #ebebeb;
        --color-base-orange: #ff6600;
        --color-base-brand-blue: #468faf;
        --color-base-xmas-red: #bb2528;
        --color-base-xmas-brown: #5d2b2c;
        --color-base-xmas-green: #1a8e1a;
        --color-base-xmas-gold: #e6b800;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
        rgb(var(--background-start-rgb));
}
